{% extends "adminlte/base_without_nav.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block title %}Log In{% endblock %}
{% block description %}Log into your account!{% endblock %}
{% block bodytag %}login-page{% endblock %}

{% block body %}

  <div class="login-box">
    <div class="login-logo">
      <strong>Admin</strong>LTE
    </div>
    <div class="login-box-body">
      <p>Log into your account!</p>
      {# Display errors (if there are any). #}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {# Render the login form. #}
        {{wtf.quick_form(form)}} 
	<br>
	<p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
    </div>
  </div>

{% endblock %}
